.signup {
    height: 100%;
    width: 100%;
    overflow: visible;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .signup h1 {
    font-size: 4rem;
    margin-top: 20px;
    color: black;
    font-weight: bold;
    padding: 15px 0;
  }
  
  .signup form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .signup form input:not([type="submit"]) {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    /*
    outline: none !important;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    */
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: black;
  }
  
  .signup form button {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    outline: none !important;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: bold;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.3s linear;
  }
  
  .signup form button:hover {
    background-color: black;
    color: white;
  }

.tooltip-container{
    display: flex;
    width: 100%;
    color: #868585;
    font-weight: bold;
    align-items: center;
    justify-content: space-between; /*makes tooltip-img float to the right*/
    
}
.tooltip-img{
  width: 18px;
  height: 18px;
}
.tooltip-div {
  margin-right: -50px;
  margin-left: -25px;
  padding-right: -50px;
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  }
  
  /* Tooltip text */
  .tooltip-div .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: #888;
    text-align: center;
    border-radius: 6px;
  
    position: absolute;
    left: -120px;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip-div:hover .tooltiptext {
    visibility: visible;
  }

  .error-message{
    margin: 0;
    padding: 0;
    margin-bottom: -20px;
  }