@keyframes shake-animation {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    75% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .shake {
    animation: shake-animation 0.5s ease-in-out;
  }
  